body{
    margin: 0;
    padding: 0;
}


h1{
    position: fixed;
    font-size: bold;
    font-family: sans-serif;
    font-style: normal;
    margin: -5px;
}

h1::first-letter{
    color: brown;
}


ul,li{
position: absolute;
    left: 550px;
    top: 5px;
    text-decoration: none;
    cursor: pointer;
    display: block;
}


ul,li {
    text-decoration: none;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: solid;
    font-style: normal;
    display: block;
    cursor: pointer;
}
li.text{
    position: relative;
    cursor: pointer;
    text-decoration: none;
    display: block;
    color: red;
    font-size: 25px;
}

.text{
    position: relative;
    text-decoration: none;
    display: block;
    font-size: 25px;
    font-weight: solid;
    color: white;
}

.head{
    position: relative;
  padding: 40px;
background-color: blue;
  margin: 0;
}



input{
    position: relative;
    align-items: center;
    left: 70%;
   top: 150px;
}

.sided{
    position: relative;
    height: 30px;
    width: 172px;

}

.sagaal{
    position: relative;
    height: 30px;
    width: 172px;

}
.lix{
    position: relative;
    height: 30px;
    width: 172px;

}

.todobo{
    position: relative;
    height: 30px;
    width: 172px;

}

.kow{
    position: relative;
    height: 30px;
    width: 345px;
}

.labo{
    position: relative;
    height: 30px;
    width: 345px;
}

.sedex{
    position: relative;
    height: 30px;
    width: 345px;
}


.afar{
    position: relative;
    height: 30px;
    width: 345px;
}


.shan{
    position: relative;
    height: 30px;
    width: 345px;
}
.pic{
position: absolute;
    background-image: url(https://img.freepik.com/premium-photo/3d-render-gold-russian-ruble-coins-with-world-globe-isolated-white-background-russian-ruble-banknotes_42071-3083.jpg);
    height: 300px;
    width: 500px;
    background-repeat: none;
    top: 220px;
 
}

h2{
 position: relative;
top: 200px;
left: 10px;


}

